extends layout

block content
  h2(class='header__secondary') Welcome to your personal let's do app
  nav(class="navigation")
    ul(class="navigation__container")
      li(class="navigation__item")
        a(href="http://localhost:3000/notes" class="navigation__anchor") Go!